</div><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY; CORA SHOPPING CENTER Deveoped by <a href="https://cora-production.firebaseapp.com/">©CORA PRODUCTIONS</a></p>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script src="/js/main.js"></script>
</body>
</html> 