</div>

</div>
</div><!-- /.container -->

<p  id="bot" class="text-center">&COPY; CORA SHOPPING CENTER Deveoped by <a href="https://cora-production.firebaseapp.com/">©CORA PRODUCTIONS</a></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script src="./main.js"></script>
</body>
</html> 